* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  text-decoration: none !important;
  list-style-type: none !important;
  font-family: monospace;
}

.main-nav {
  box-shadow: -2px 1px 10px 0px rgb(173, 216, 230);
}

#title-img {
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}

.news-template {
  border: 1px solid gray;
  transition: linear 300ms;
}
.news-template:hover {
  box-shadow: -2px 1px 10px 0px rgb(173, 216, 230);
  border-color: transparent;
}
.news-template:hover img {
  object-fit: cover;
}
.cursor-pointer {
  cursor: pointer;
}

.active {
  color: blue;
}
#search-text {
  outline: unset;
}
